.patient-register-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #22c55e, #020617);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.patient-register-card {
  background: white;
  max-width: 420px;
  width: 100%;
  padding: 35px;
  border-radius: 14px;
  text-align: center;
}

.patient-register-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.patient-register-card button {
  width: 100%;
  padding: 12px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.captcha-wrapper {
  display: flex;
  justify-content: space-between;
  background: #f1f5f9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.captcha-text {
  font-weight: bold;
  letter-spacing: 3px;
}
